{% extends 'base.html.twig' %}

{% block title %}Browse{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-4 d-flex justify-content-center mt-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('pictures/' ~ product.picture) }}" alt="Card image cap" width="200px" height="200px">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text font-weight-bold">{{ product.price }}€</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}